
/.vs/TestProject
/Test.Domain/bin/Debug/netstandard2.0
/Test.Domain/obj/Debug/netcoreapp2.0
/Test.Domain/obj/Debug/netcoreapp2.1
/Test.Domain/obj/Debug/netstandard2.0
/Test.BLL/bin/Debug/netstandard2.0
/Test.BLL/obj/Debug
/Test.Domain/bin/Debug/netcoreapp2.1
/Test.BLL/bin/Debug/netcoreapp2.1
/Test.Core/bin/Debug/netcoreapp2.1
/Test.Core/obj/Debug/netcoreapp2.1
/Test.Core/obj
/Test.Core/Logs
/Web/Test.Web/bin/Debug/netcoreapp2.1
/Test.Domain/Migrations/20180820101035_mysqlInitCreate.Designer.cs
/Test.Domain/Migrations/20180820101035_mysqlInitCreate.cs
/Test.Domain/Migrations/20180820102624_mysqlmigration02.Designer.cs
/Test.Domain/Migrations/20180820102624_mysqlmigration02.cs
/Test.Domain/Migrations/20180820103156_mysqlmigration03.Designer.cs
/Test.Domain/Migrations/20180820103156_mysqlmigration03.cs
/Test.Domain/Migrations/20180821030658_mysqlmigration04.Designer.cs
/Test.Domain/Migrations/20180821030658_mysqlmigration04.cs
/Test.Domain/Migrations/20180821094348_mysqlmigration05.Designer.cs
/Test.Domain/Migrations/20180821094348_mysqlmigration05.cs
/Test.Domain/Migrations/20180820101035_mysqlInitCreate.Designer.cs
/Test.Domain/Migrations/20180820101035_mysqlInitCreate.cs
/Test.Domain/Migrations/20180820102624_mysqlmigration02.Designer.cs
/Test.Domain/Migrations/20180820102624_mysqlmigration02.cs
/Test.Domain/Migrations/20180820103156_mysqlmigration03.Designer.cs
/Test.Domain/Migrations/20180820103156_mysqlmigration03.cs
/Test.Domain/Migrations/20180821030658_mysqlmigration04.Designer.cs
/Test.Domain/Migrations/20180821030658_mysqlmigration04.cs
/Test.Domain/Migrations/20180821094348_mysqlmigration05.Designer.cs
/Test.Domain/Migrations/20180821094348_mysqlmigration05.cs
/Test.Domain/Migrations/20180917041011_Rebuild2.Designer.cs
/Test.Domain/Migrations/20180917041011_Rebuild2.cs
/.vs/config/applicationhost.config
/Web/Test.IdentityServer/obj/Debug/netcoreapp2.1/*.cache
/Web/Test.IdentityServer/obj/Debug/netcoreapp2.1
/Web/Test.IdentityServer/bin/Debug/netcoreapp2.1
/Test.Domain/Migrations
/Web/Test.Web/Log
/Web/Test.IdentityServer/bin/Debug/netcoreapp2.2
/Web/Test.IdentityServer/obj/Debug/netcoreapp2.2
/Web/Test.Web/bin/Debug/netcoreapp2.2
/Web/Test.Web/obj/Debug/netcoreapp2.2
/UnitTest/Test.XUnitTest/obj
/UnitTest/Test.XUnitTest/bin/Debug/netcoreapp2.2
/Test.BLL/bin/Debug/netcoreapp2.2
/Test.Core/bin/Debug/netcoreapp2.2
/Test.Domain/bin/Debug/netcoreapp2.2
/Test.Domain/obj/Debug/netcoreapp2.2
/Test.Domain/.vs
/Test.Domain/obj/Release/netcoreapp2.2
/Test.BLL/obj/Test.Service.csproj.nuget.dgspec.json
/Test.Domain/obj/Test.Domain.csproj.nuget.dgspec.json
/Web/Test.IdentityServer/obj/Test.IdentityServer.csproj.nuget.dgspec.json
/Web/Test.Web/obj/Test.Web.csproj.nuget.dgspec.json
/Test.BLL/obj
/Test.Domain/obj
/Web/Test.IdentityServer/obj
/Web/Test.Web/obj
/Web/Test.Web/internal-nlog.txt
